@charset "UTF-8";

@font-face {
    font-family: 'misaki2';
    src: url('/static/misaki_gothic_2nd.ttf') format('truetype');
}
body {
    background-color: rgb(62,12,15);
    font-family: misaki2;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(88,104,76) inset;
}


#start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: rgb(62,12,15);
}
#nickname {
    font-family: misaki2;
    font-size: 30px;
    width: 200px;
    height: 60px;
    object-fit: contain;
    color: black;
    outline: none;
    background-color: rgb(88,104,76);
}
#start-button {
    font-family: misaki2;
    font-size: 60px;
    display: inline-block;
    vertical-align: top;
    color: rgb(226,192,132);
    background-color: rgb(23,23,23);
    padding: 10px 5px 5px 10px;
    outline: none;
}


#message_form {
    margin: 0;
}
#input_msg {
    font-family: misaki2;
    font-size: 30px;
    width: 100%;
    height: 37px;
    object-fit: contain;
    color: black;
    background-color: rgb(88,104,76);
    outline: none;
}
::placeholder {
    color: rgb(53,63,43);
}
textarea:focus {
    outline: none;
}
#sousin {
    font-family: misaki2;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(226,192,132);
    background-color: rgb(23,23,23);
    outline: none;
}


#canvas-2d {
    width: 300%;
    margin: 0 -100%;
    text-align: center;
    height: 60%;
    object-fit: contain;
    object-position: top;
}
#controler {
    height: 30%;
    text-align: center;
    vertical-align: top;
    object-fit: contain;
}
/*<img id="pixer" src="/static/pxmeasure.png" style="display: none;">*/